.table1::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    margin-top: 215px;
   
  }
  @media screen and (min-width: 1280px) {
    .table1::-webkit-scrollbar-track{
      margin-top: 215px;
    }
  }
  @media screen and (min-width: 1480px) {
    .table1::-webkit-scrollbar-track{
      margin-top: 205px;
    }
  }
  @media screen and (min-width: 1636px) {
    .table1::-webkit-scrollbar-track{
      margin-top: 193px;
    }
  }
  .table2::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    margin-top:140px;
   
   
  }