::-webKit-scrollbar {
    width: 6px;
    height: 21px
}

::-webkit-scrollbar-thumb {
    background:  #32394C;
    height: 154px;
    width: 185px;
    border-radius: 22px;
}

::-webkit-scrollbar-track {
    left: 800px;
    height: 723px;
    background:  #050E25
}

::-webkit-scrollbar-thumb:horizontal {
    background: #075779;
    height: 185px
}

::-webkit-scrollbar-track:horizontal {
    background: #999;
    height: 723px
}   