::-webKit-scrollbar {
    width: 6px;
    height: 21px
}

::-webkit-scrollbar-thumb {
    background:  #CDCFD3 !important;
    height: 154px;
    width: 5px;
    border-radius: 22px;
}

::-webkit-scrollbar-track {
    left: 800px;
    height: 723px;
    background: transparent !important;
}

::-webkit-scrollbar-thumb:horizontal {
    background:#CDCFD3 !important;
    height: 185px
}

::-webkit-scrollbar-track:horizontal {
    background:transparent !important;
    height: 723px
}   